$gray : #94938d;
$lightest_gray:#E2DFDF;
$light_gray: #aeaaab;
$darkest_gray: #635F5F;
$dark_gray: #787373;
$darkest_blue: #12133c;
$green_text: #40a842;

$dark_blue: hsl(220, 90%, 23%);
$blue: #005e92;
$light_blue:#008dc0;

$dark_green: #10432c;
$green: #40a842;
$light_green: #b3d449;

/*#010335

#041753
#062a70
#008dc0
#005e92
#008dc0
#60b5da
#afd7ef
#badcf2
#085023
#10432c
#40a842
#59b243
#83c146
#76bd45
#a0cd48
#b3d449
*/