
  /*--------------------------------------------------------------
      Preloader
  --------------------------------------------------------------*/
  .page-loader {
    position: fixed;
    background: rgb(0,141,192);
    background: radial-gradient(circle at top center, $light_blue 0%, $blue 33%, $dark_blue 66% ,$darkest_blue 100%);
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 9998;
 
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.9;
    z-index: 1000;
    width: 38vh;
    margin-left: -19.5vh;
    z-index: 9999;
    margin-top:-19vh;
   
    svg{
        width:100%;
    }
  }
