#agenda{
    background: $dark_blue;
    color:#fff;
    border-bottom:10px solid $darkest_blue;
    h2.module-title{
        color:#b7d547;
    }
    font-size:150%;
    line-height:150%;
        @media(max-width:767px){    
        .seal{
            width:50%;
            margin:0px auto;
            display: block;
        }
    }

}
#speakers {
    background:$green;
    border-bottom:10px solid $dark_green;
    h2.module-title{
        color:$lightest_gray;
    }
    p{
        color:#fff;
    }
}
#registration{
    background: $lightest_gray;
    h2.module-title{
        color:$dark_gray;
    }
    border-bottom:10px solid $darkest_gray;
}    
.section-thumbnail{
    
}
.section-content{
    
}